.outer {
  width: 100%;
  height: 100%;
  background: #fff3dd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.main {
  width: 47.5%;
}

.question-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.question-details input {
  width: 27.5%;
  height: 35px;
  padding: 0 17.5px;
  background: rgb(249, 249, 250);
}

.add-question {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-question .question-option {
  padding: 8.5px;
  background: rgb(250, 250, 250);
  cursor: pointer;
}

.add-question .question-option:nth-child(1) {
  margin-right: 35px;
}
